<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Reward App</title>
    <link rel="stylesheet" href="/static/style.css"> {# ตัวอย่างการเรียกใช้ CSS #}
</head>
<body>

    <header>
        <h1>แอปพลิเคชันสะสมแต้ม</h1>
    </header>

    <main>
        {# ส่วนนี้คือจุดที่เนื้อหาจาก index.html จะถูกนำมาใส่ #}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Your Name</p>
    </footer>

</body>
</html>

